.contacto {
    &__heading {
        @include padd(top);
    }

    &__body {
        @include padd(bottom);
    }

    &__title {
        @include sectionTitle;
    }

    &__form {
        @include padd(top, half);

        &__group {
            margin-bottom: 20px;

            &--alt {
                padding: 20px;
                background: $lightGray;
            }
        }

        &__radiogroup {
            display: flex;
        }

        &__radio {
            display: flex;
            padding-right: 15px;

            label {
                margin-right: 10px;
            }
        }

        &__label {
            display: block;
            font-family: $altFont;
            font-size: 14px;
            color: $darkGray;
            font-weight: 300;
        }

        &__input {
            display: block;
            width: 100%;
            height: 40px;
            background: $lightestGray;
            border:none;
            padding: 0 15px;

            &--textarea {
                min-height: 200px;
            }
        }

        &__submit {
            @include trans;
            
            height: 40px;
            padding: 0 30px;
            line-height: 40px;
            display: inline-block;
            background: $mainColor;
            color: $white;
            font-family: $menuFont;
            font-size: 18px;
            border: none;

            &:hover {
                background: $mainColor - #333;
            }
        }
    }
}