
.home {
    padding-top: 50px;
    min-height: 100vh;

    &__ads {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    &__main-articles {
        @include padd;

        .article {
            margin-bottom: 15px;
        }
    }

    &__interest {
        @include padd(bottom);

        &__title {
            @include sectionTitle;
        }

        &__article {
            position: relative;
            border-left: 1px solid $white;
            border-right: 1px solid $white;

            &__img {
                @include img;
            }

            &__overlay {
                @include overlay;
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: none;

                span {
                    color: $white;
                    font-family: $menuFont;
                }
            }
        }
    }

    &__latest {
        &__title {
            @include sectionTitle($align:left);
        }

        &__viewmore {
            display: block;
            width: 220px;
            border: 1px solid $lightGray;
            background: $white;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-family: $altFont;
            text-transform: uppercase;
            color: $darkGray;

            &:hover {
                color: $red;
            }
        }
    }

    &__most-viewed {
        &__title {
            @include sectionTitle($align:left);
        }
    }

    &__sidebar {
        &__ads {
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
        }
    }

    &__suscribe {
        background: $lightestGray;
        padding-top: 15px;

        &__title {
            color: $red;
            font-size: 21px;
            margin: 0 0 10px;
            padding-left: 15px;
        }

        &__social {
            display: flex;
            padding-left: 15px;
            padding-bottom: 15px;

            li {
                margin-right: 15px;
            }

            a {
                color: $darkGray;
                font-size: 21px;
            }
        }

        &__box {
            background: url('/images/home/suscribe.jpg') no-repeat center bottom / cover;
            padding: 15px;
            margin-bottom: 20px;

            &__label {
                color: $white;
                font-family: $altFont;
                font-weight: 300;
                font-size: 18px;
                padding-right: 50px;
                margin-bottom: 20px;
            }

            &__input {
                width: 100%;
                display: block;
                height: 40px;
                background: $white;
                border: none;
                color: $darkGray;
                padding: 0 15px;
                margin-bottom: 15px;
            }

            &__button {
                height: 40px;
                background: $lightestGray;
                line-height: 40px;
                text-transform: uppercase;
                font-family: $menuFont;
                bordeR:none;
                outline: none;
                padding: 0 30px;
            }
        }
    }

    &__tapas {
        background: $black;
        padding: 40px 0;
        color: $white;

        @include mq(md) {
            padding: 60px 0;
        }

        &__cover {
            @include img(135%);

            img {
                height: 100%;
                width: auto;
            }
        }

        &__heading {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__section {
            font-family: $menuFont;
            text-transform: uppercase;
            margin: 0;
            font-size: 1.5em;
        }

        &__link {
            color: $white;
            padding: 10px;
            border: 1px solid $white;
            border-radius: 5px;
            font-family: $altFont;
        }

        &__title {
            font-family: $altFont;
            font-size: 2em;
            margin: 0 0 10px;
        }

        &__date {
            color: $mainColor;
            font-family: $menuFont;
            font-size: 24px;
        }

        &__body {
            margin-bottom: 40px;
        }

        .buscador-tapas__search__type {
            label {
                background: $darkGray;
            }
        }

        .buscador-tapas__search__date-range__bar::-webkit-slider-runnable-track {
            height: 6px;
            background: $darkestGray;
        }
    }

    &__latapa {
        @include padd;
        .hidden-sm {
            @include mq(sm) {
                display: none;
            }

            @include mq(md) {
                display: block;
            }
        }

        &__title {
            @include sectionTitle;
        }

        &__ads {
            padding: 10px;
        }
    }

    &__videos {
        @include padd(bottom);

        &__slider {

            .slick-track {
                display: flex;
            }

            .slick-dots {
                bottom: -40px;

                li, .slick-active {
                    button:before {
                        color: $red;
                    }
                }
            }

            .slick-slide {
                @include trans;
                flex-shrink: 2;
                border-left: 1px solid $white;
                border-right: 1px solid $white;

                @include mq(md) {
                    opacity: 0;
                }
            }

            .slick-active {
                opacity: .7;
                &:not([role="presentation"]) {
                    width: 25vw !important;
                }
            }

            .slick-current {
                opacity: 1;
                width: 50vw !important;
                flex-grow: 2;
                flex-shrink: 0;

                @include mq(md) {
                    width: 45vw !important;
                }

                .home__video__heading,
                .home__video__data {
                    opacity: 1;
                    pointer-events: all;
                }

                .home__video__placeholder {
                    opacity: 0;
                    pointer-events: none;
                }

                .home__video__player {
                    .embed-responsive {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            .slick-prev,
            .slick-next {
                top: 70%;
            }

            .slick-prev {
                left: 20%;
            }

            .slick-next {
                right: 20%;
            }
        }
    }

    &__video {
        $v:&;

        @include trans;

        &__heading {
            @include trans(0.6s);
            background: $black;
            padding: 20px 30px;
            opacity: 0;
            pointer-events: none;
        }

        &__section {
            @include sectionTitle($align:left);
            color: $white;
            margin-bottom: 0;

            font-size: 21px;

            @include mq(md) {
                font-size: 24px;
            }
        }

        &__data {
            @include trans(0.6s);
            background: $black;
            padding: 20px;
            opacity: 0;
            pointer-events: none;
            color: $white;
            width: 100%;
            white-space: normal;
        }

        &__player {
            position: relative;

            .embed-responsive {
                @include trans(0.6s);
                opacity: 0;
                pointer-events: none;
            }
        }

        &__placeholder {
            @include trans(0.6s);
            @include img;
            position: absolute;
            top:0;
            width: 100%;
            z-index: 2;
            opacity: .5;
        }

        &__title {
            font-size: 21px;
            margin: 0 0 10px;

            @include mq(md) {
                font-size: 24px;
            }
        }

        &__desc {
            margin: 0;
            font-size: 14px;

            @include mq(md) {
                font-size: 16px;
            }
        }
    }

    &__fotos {
        &__title {
            @include sectionTitle;
        }

        &__ads {
            padding: 60px 0;
        }
    }
}
