.multimedia {
    &__search {
        background: $lightestGray;
        display: flex;
        justify-content: center;
        @include padd(both, half);
    }

    &__video-single {
        @include padd(both, half);
        text-align: center;

        &__heading {
            @include sectionTitle;
        }

        &__subtitle {
            margin: 20px 0 0;
            font-size: 14px;
            color: $mainColor;
            text-transform: uppercase;
        }

        &__title {
            margin-top: 0;
            font-weight: 500;
            font-size: 28px;

            @include mq(md) {
                font-size: 36px;
            }
        }

        &__author {
            font-size: 12px;
        }

        &__text {
            margin-left: auto;
            margin-right: auto;
            display: flex;

            @include mq(md) {
                max-width: 45%;
            }
        }

        &__social {
            justify-content: center;
            display: flex;
            padding: 20px 0;

            li {
                padding: 0 10px;
            }

            i {
                font-size: 24px;
                color: $black;
            }
        }
    }

    &__video {
        $v:&;

        @include trans;

        &__heading {
            @include trans(0.6s);
            padding: 20px 30px;
            opacity: 0;
            pointer-events: none;
        }

        &__subtitle {
            margin: 20px 0 0;
            font-size: 14px;
            color: $mainColor;
            text-transform: uppercase;
        }

        &__section {
            @include sectionTitle;
            color: $black;
            margin-bottom: 0;

            font-size: 21px;

            @include mq(md) {
                font-size: 24px;
            }
        }

        &__data {
            @include trans(0.6s);
            background: $white;
            color: $black;
            padding: 20px;
            opacity: 0;
            pointer-events: none;
            width: 100%;
            white-space: normal;
            text-align: center;
        }

        &__player {
            position: relative;

            .embed-responsive {
                @include trans(0.6s);
                opacity: 0;
                pointer-events: none;
            }
        }

        &__placeholder {
            @include trans(0.6s);
            @include img;
            position: absolute;
            top:0;
            width: 100%;
            z-index: 2;
            opacity: .5;
        }

        &__title {
            font-size: 21px;
            margin: 0 0 10px;

            @include mq(md) {
                font-size: 24px;
            }
        }

        &__desc {
            margin: 0;
            font-size: 14px;

            @include mq(md) {
                font-size: 16px;
            }
        }

        &__social {
            @include trans(0.6s);
            justify-content: center;
            display: flex;
            padding: 20px 0;
            opacity: 0;
            pointer-events: none;

            li {
                padding: 0 10px;
            }

            i {
                font-size: 24px;
                color: $black;
            }
        }
    }

    &__videos {
        @include padd(bottom);

        &__slider {

            .slick-track {
                display: flex;
            }

            .slick-dots {
                bottom: -40px;

                li, .slick-active {
                    button:before {
                        color: $red;
                    }
                }
            }

            .slick-slide {
                @include trans;
                flex-shrink: 2;
                border-left: 1px solid $white;
                border-right: 1px solid $white;

                @include mq(md) {
                    opacity: 0;
                }
            }

            .slick-active {
                opacity: .7;
                &:not([role="presentation"]) {
                    width: 25vw !important;
                }
            }

            .slick-current {
                opacity: 1;
                width: 50vw !important;
                flex-grow: 2;
                flex-shrink: 0;

                @include mq(md) {
                    width: 45vw !important;
                }

                .multimedia__video__heading,
                .multimedia__video__data {
                    opacity: 1;
                    pointer-events: all;
                }

                .multimedia__video__placeholder {
                    opacity: 0;
                    pointer-events: none;
                }

                .multimedia__video__social {
                    opacity: 1;
                    pointer-events: all;
                }

                .multimedia__video__player {
                    .embed-responsive {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            .slick-prev,
            .slick-next {
                top: 70%;
            }

            .slick-prev {
                left: 20%;
            }

            .slick-next {
                right: 20%;
            }
        }
    }

    &__ads {

        @include padd(bottom, half);

    }

    &__most-viewed-videos {

        &__title {
            @include sectionTitle;
        }

        &__more-button {
            @include padd(top, half);
            text-align: center;
        }
    }
}
