extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.policies
        section.policies__heading
            .container
                .row
                    .col-xs-24 
                        h1.policies__title
                          span Bases y Condiciones
                          i
        section.policies__body
            .container
                .row
                    .col-xs-24.col-sm-18.col-md-16.col-sm-offset-3.col-md-offset-4
                        p
                            em
                                span
                                    | Los participantes deberán leer y entender, íntegramente, las condiciones y reglas abajo descritas antes de enviar sus datos y participar en el presente concurso. La revisión y aceptación de estas reglas es una condición para participar.
                        br
                        br
                        br
                        p
                            strong
                                span
                                    | 1. Organizador.
                            span
                            | Revistas Deportivas S.A., CUIT 30-67728877-5, con domicilio en Balcarce 510, Ciudad Autónoma de Buenos Aires (en adelante, el "Organizador
                            | ") organiza un concurso (en adelante, el “Concurso
                            | ”), sujeto a las presentes bases y condiciones (en adelante, las "Bases
                            | ").
                        p
                            strong
                                span
                                    | 2. Plazo.
                            span
                            | El inicio del Concurso comenzará el 5 de agosto de 2016 finalizará el 21 de agosto de 2016 (la “Vigencia
                            | ”). Se informará en el Sitio Web si cualquiera de dichas condiciones fuera modificada.
                        p
                            strong
                                span
                                    | 3. Objeto.
                            span
                        conjunto las “Redes Sociales
                            | ”). Aquellas personas que deseen participar deberán seguir los criterios que a continuación se describen:
                        p
                            span
                            | En Twitter deberán seguir al @ELGRAFICOWEB, y realizar un comentario de aliento a la selección de Basquet seguido con sus últimos 3 números del documento.
                        p
                            span
                            | En Facebook deberán dar “Me gusta” a 
                            | la FanPage
                            |  de El Gráfico, además de un “Me gusta” sobre la publicación de la promo y también un comentario de aliento a la selección de Basquet seguido con sus últimos 3 números del documento.
                        p
                            span
                            | Entre todos los posteos de las Redes Sociales, el comentario que haya recibido más “
                            em Likes
                            | ”/ “
                            em Me gusta
                            | ”, será el ganador del Premio.
                            strong
                        p
                            strong
                                span
                                    | 4. Gratuidad.
                            span
                            | La participación en el Concurso (incluyendo la inscripción a los efectos del mismo) es gratuita y no está condicionada a la compra de ningún producto o servicio.
                        p
                            strong
                                span
                                    | 5. Premios. 
                            span El Ganador del Concurso se le entregará una camiseta de Luis Scola autografiada (el “Premio”). asignación. El Premio será entregado en Balcarce 510, Ciudad de Buenos Aires en día y horario a coordinar con el Organizador hasta el día 30 de junio de 2016 inclusive, luego se perderá el derecho a recibir el Premio, presentando sus datos personales y legales para retirar el premio (dni, nombre completo). 
                        p
                            strong
                                span
                                    | 6. Participantes.
                            span  P
                            span
                            | odrán participar del Concurso las personas físicas distintas de las Personas Excluidas (tal como se las define en el párrafo siguiente) y que hayan cumplido con los requisitos de participación establecidos en apartado 3. Las personas referidas precedentes se denominan en adelante los “Participantes
                            | ”.
                        p
                            span
                            | No podrán participar del Concurso las siguientes personas (en adelante, las “Personas Excluidas
                            | ”), aunque cumplan lo indicado en el párrafo precedente: (i) los directores y empleados del Organizador, de las sociedades afiliadas al Organizador y de los proveedores contratados por el Organizador para la realización del Concurso, así como los cónyuges y familiares hasta el segundo grado de consanguinidad y de afinidad.
                        p
                            span
                            | La participación en el Concurso constituirá por sí sola una declaración de no ser el Participante una Persona Excluida.
                        p
                            span
                            | Será inhabilitado y/o eliminado cualquier Participante que sea una Persona Excluida o haya incluido datos falsos, erróneos, ilegítimos o de terceros.
                        p
                            span
                            | Los menores de 18 años no podrán retirar el Premio sin la autorización expresa y válida de un mayor a cargo.
                        p
                            strong
                                span
                                    | 7. Plazo para participar.
                            span
                            | Cualquier persona distinta de las Personas Excluidas puede incorporarse al Concurso, cumpliendo los pasos requeridos, en cualquier momento durante 
                            | la Vigencia
                            |  del Concurso.
                        p
                            strong
                                span
                                    | 8. Reglas.
                            span
                        p
                            span
                            | (i)         El Concurso se desarrollará en el marco de los Juegos Olímpicos 2016, y durante el Plazo de Vigencia.
                            span
                        p
                            span (ii)        El 
                            span
                            | Organizador publicará el Concurso en las Redes Sociales y aquellas personas que deseen participar deberán seguir los criterios establecidos en el apartado 3.
                        p
                            span
                            | (iii)       El día 22 de agosto de 
                            | 2016 a
                            |  las 12 pm, se dará a conocer al Ganador, es decir al comentario que haya recibido más “
                            em Likes
                            | ”/ “
                            em Me gusta
                            | ” en las Redes Sociales.
                        p
                            strong
                                span
                                    | 9. Ganadores.
                            span
                        comentario haya recibido la mayor cantidad de “
                            em Likes
                            | ”/ “
                            em Me gusta
                            | ” (en adelante, el “Ganador
                            | ”).
                        p
                            strong
                                span
                                    | 10.       Autorización de uso de imagen, voz y datos personales.
                            spanso. La autorización de uso de imagen y voz de los Participantes se concede por un plazo de 12 meses desde la realización del Concurso. La revocación de la autorización para el uso de la imagen y/o voz implicará la exclusión del Participante del Concurso.

            
