.ads {
    text-align: center;

    img {
        width: 100%;
        height: auto;
    }

    &--leaderboard {
        max-width: 728px;
        margin: auto;
    }

    &--skyscrapper,
    &--rectangle {
        max-width: 300px;
        margin: auto;
    }
}
