extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.policies
        section.policies__heading
            .container
                .row
                    .col-xs-24 
                        h1.policies__title
                            span Politicas de Privacidad
                            i

        section.policies__body
            .container
                .row
                    .col-xs-24.col-sm-18.col-md-16.col-sm-offset-3.col-md-offset-4
                        p
                            | Revista "El Gráfico" respeta su derecho a la privacidad. Esta política de privacidad (la "Política") resume la información de identificación personal que Revista "El Gráfico" puede obtener de usted, la forma en que puede usar esa información, así como otra información importante sobre su privacidad.
                            br
                            br
                            | 					El término "información personal" usado en esta Política significa la información que lo identifica a usted personalmente. Esta Política es aplicable al sitio de internet de Revista "El Gráfico" http://www.elgrafico.com.ar (el "Sitio de Internet"). Al usar el Sitio de Internet o proporcionarnos información personal, usted nos autoriza a obtener, usar y divulgar su información personal en la forma descripta en esta Política y de acuerdo con la normativa aplicable en materia de protección de datos personales en la República Argentina. Si usted no autorizase la obtención, uso y divulgación de su información personal en la forma descripta en esta Política y de acuerdo a la normativa aplicable, no deberá usar el Sitio de Internet.
                            br
                            br
                            br
                            h2.subtitle-base Información obtenida a través del Sitio de Internet y cómo podría ser usada
                            |                     Las formas en que Revista "El Gráfico" podría obtener información personal suya a través del Sitio de Internet, y el uso que se podría dar a dicha información, son las siguientes:
                            br
                            br
                            span(style='color:#e1161c;') 1. Información enviada a nosotros por su navegador web
                            br
                            br
                            |                     Revista "El Gráfico" podría obtener información que es enviada automáticamente por su navegador web. Esta información normalmente incluye la dirección IP de su proveedor de Internet, el nombre de su sistema operativo (como ser, Macintosh® o Windows®) y el nombre y versión de su navegador (como ser, Explorer® o Netscape®). La información que Revista "El Gráfico" recibiría depende de las configuraciones de su navegador. Para conocer qué información enviaría a Revista "El Gráfico" o cambiar las configuraciones, por favor revise las preferencias del navegador programadas en su computadora. La información proporcionada por su navegador no lo identifica a usted personalmente. Revista "El Gráfico" usaría esta información para crear estadísticas que ayuden a mejorar el Sitio de Internet y hacerlo más compatible con la tecnología
                            |                     usada por nuestros usuarios.
                            br
                            br
                            span(style='color:#e1161c;') 2. Información obtenida mediante la colocación de una "cookie" en su computadora
                            br
                            br
                            |                     Revista "El Gráfico" también podría obtener información sobre usted instalando un "rótulo" en el disco duro de su computadora. Este rótulo se conoce como "cookie".
                            br
                            br
                            |                     El Sitio de Internet podría usar "cookies de sesión". Una cookie de sesión se usa para rotular su computadora con un identificador único generado por la computadora cuando usted accede al Sitio de Internet. Una cookie de sesión no lo identifica a usted personalmente y expira al momento en que usted cierra su navegador. En caso de ser instaladas, Revista "El Gráfico" usaría estas cookies de sesión para obtener información estadística sobre las formas en que los lectores y suscriptores usan el Sitio de Internet y analizar esta información en forma estadística para entender mejor cuales son los intereses y necesidades de los usuarios de dicho sitio.
                            br
                            br
                            |                     El Sitio de Internet también podría usar "cookies persistentes". Estos cookies no expiran cuando usted cierra su navegador sino que permanecen en su computadora hasta que usted los elimina. Al asignar un identificador único a su computadora, Revista "El Gráfico" podría crear una base de datos de sus selecciones y preferencias previas, y cuando fuera necesario obtener nuevamente dichas selecciones y preferencias, Revista "El Gráfico" podría proporcionarlas automáticamente.
                            br
                            br
                            |                     Si usted no desea autorizar la instalación de cookies, puede configurar su navegador para que los rechace o para que le avise cuando una cookie es colocada en su computadora.
                            br
                            br
                            span(style='color:#e1161c;') 3. Información que usted nos proporciona a sabiendas y voluntariamente
                            br
                            br
                            |                     Revista "El Gráfico" recoge la información personal que usted nos proporciona a sabiendas y
                            |                     voluntariamente al registrarse en el Sitio de Internet, y que consiste en su nombre y apellido,
                            |                     dirección de correo electrónico, fecha de nacimiento, nombre de usuario y contraseña. La negativa
                            |                     a proveer esta información personal impedirá su registro en el Sitio de Internet, aun cuando usted
                            |                     podrá acceder a todos los contenidos que no requieran registro previo.
                            br
                            br
                            |                     Revista "El Gráfico" usará esta información para los fines que usted la proporcionó. También
                            |                     podríamos usar esa información para distintos fines promocionales, comerciales o publicitarios,
                            |                     tales como investigación de mercado, mejora de nuestros productos y para proporcionarle a usted
                            |                     la información que creemos es de su interés. Tales datos se encontrarán en una base de datos
                            |                     electrónica bajo responsabilidad de Revista "El Gráfico", con domicilio en Balcarce 510, Ciudad
                            |                     Autónoma de Buenos Aires.
                            br
                            br
                            br
                            h2.subtitle-base Seguridad de la información personal
                            |                     Su información personal será almacenada en las bases de datos de Revista "El Gráfico" o en las
                            |                     bases de datos mantenidas por proveedores de servicios de Revista "El Gráfico", que deberán
                            |                     cumplir con las normas de seguridad previstas por la normativa vigente. Revista "El Gráfico"
                            |                     adoptará las medidas técnicas y organizativas que resulten necesarias para garantizar la seguridad
                            |                     y confidencialidad de los datos personales, de modo de evitar su adulteración, pérdida, consulta
                            |                     o tratamiento no autorizado, y que permitan detectar desviaciones, intencionales o no, de
                            |                     información, ya sea que los riesgos provengan de la acción humana o del medio técnico utilizado.
                            |                     Sin embargo, si bien aplicaremos estas medidas, al igual que todas las redes computacionales
                            |                     vinculadas a Internet, no podemos garantizar la seguridad de la información proporcionada a
                            |                     través de Internet y no asumiremos ninguna responsabilidad respecto de cualquier violación de
                            |                     seguridad fuera del control razonable de Revista "El Gráfico".
                            br
                            br
                            br
                            .span5
                            h2.subtitle-base Vínculos con sitios de internet de terceros
                            |                     El Sitio de Internet podría contener vínculos a sitios internet de terceros. Estos vínculos son
                            |                     proporcionados a modo de servicio y ello no implica que Revista "El Gráfico" avala las actividades
                            |                     o contenidos de estos sitios, ni constituye asociación con sus operadores o titulares. Revista "El 
                            |                     Gráfico" no controla estos sitios de internet y no es responsable de su contenido, seguridad o
                            |                     privacidad. Le rogamos revisar las políticas sobre privacidad incluidas en estos sitios web antes de
                            |                     usarlos o proporcionar su información personal.
                            br
                            br
                            br
                            h2.subtitle-base Redes sociales – Reglamento de participación.
                            |                     Las iniciativas de participación que se realizaren a través de facebook y/o cualquier red social existente o futura, no permiten el lenguaje obsceno y/o discriminatorio en ningún aspecto. El Gráfico se reserva el derecho de borrar los comentarios, bloquear y denunciar en todas las instancias que crea necesario, a todos los usarios que violen dichas reglas de participación.
                            br
                            br
                            |                     Asimismo, los comentarios que no remitan a las consignas de participación, así como los mensajes del tipo spam o de iniciativas comerciales ajenas a El Gráfico también podrán ser borrados sin previo aviso. 
                            br
                            br
                            |                     En el caso de anunciarse algún premio por iniciativas de participación para los usuarios, se deja constancia que, salvo previamente expresado, todos los premios deberán retirarse por la revista El Gráfico, de lunes a viernes de 12 a 18, no habiendo posibilidad de envíos a domicilio dentro o fuera de la República Argentina, sin excepción. 
                            br
                            br
                            |                     El usuario que resultare ganador de alguna de las iniciativas de participación recibirá un mensaje directo, quedando descartadas otras opciones de contacto. En el caso de que el usuario no respondiere dentro de las 72 horas, el premio quedará vacante o podrá reasignarse a otro concursante, sin posibilidad de reclamo futuro. En el caso de que el usuario no retirare su premio en los 30 días subsiguientes, el premio quedará vacante o podrá reasignarse a otro concursante, sin posibilidad de reclamo futuro.
                            br
                            br
                            |                     Una vez superados los plazos establecidos, El Gráfico no tendrá obligación de comunicar eventuales situaciones de cambio en los nombres de los ganadores o premios declarados vacantes por los motivos previamente citados.
                            br
                            br
                            |                     Al participar en los comentarios de redes sociales de El Gráfico, el usuario acepta estos términos y condiciones.
                            br
                            br
                            br
                            h2.subtitle-base Compromiso de confidencialidad
                            |                     Revista "El Gráfico" no revelará información personal a terceros salvo cuando:
                            br
                            br
                            span(style='color:#e1161c;') 1. El usuario lo autorice expresamente.
                            br
                            span(style='color:#e1161c;') 2. Sea requerido por ley, decreto o resolución administrativa.
                            br
                            span(style='color:#e1161c;') 3. Sea en cumplimiento de una resolución judicial.
                            br
                            br
                            br
                            h2.subtitle-base Derecho del titular de la información personal a acceder a la misma
                            |                     En su carácter de titular de la información personal, el usuario del Sitio de Internet que se hubiera
                            |                     registrado en el mismo tendrá derecho a acceder a su información personal incluida en la base de
                            |                     datos de Revista "El Gráfico", ingresando su nombre de usuario y su clave personal y a rectificar,
                            |                     actualizar o eliminar dicha información.
                            br
                            br
                            br
                            h2.subtitle-base Modificaciones en la Política
                            |                     Revista "El Gráfico" se reserva el derecho de efectuar, en cualquier momento, modificaciones en
                            |                     la presente Política, y adaptarla a novedades legislativas, jurisprudenciales, así como a prácticas
                            |                     del mercado. Queda bajo responsabilidad del usuario controlar periódicamente la misma para
                            |                     estar al tanto de las posibles modificaciones. Revista "El Gráfico" anunciará por este medio
                            |                     cualquier cambio en la Política. Una vez introducida en el Sitio de Internet, la modificación entrará
                            |                     automáticamente en vigencia.
                            br
                            br
                            br
                            h2.subtitle-base Más información
                            |                     En la República Argentina, la DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES,
                            |                     órgano de control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos
                            |                     que se interpongan con relación al incumplimiento de las normas sobre protección de datos
                            |                     personales. Si desea más información al respecto, puede ingresar en http://www.jus.gob.ar/datos-
                            |                     personales.aspx
                            br
                            br
                            br
                            h2.subtitle-base Consultas
                            |                     Para cualquier consulta o pregunta sobre esta Política, por favor complete el formulario en el siguiente enlace: www.elgrafico.com.ar/contacto.php
                        .alert.alert-error.txt-preguntas.span8(style='clear:both; margin-top:20px;') Fecha de actualización de esta Política: 9 de marzo de 2011
