mixin suscribe(title)
    .suscribe
        h3.suscribe__title= title
        ul.suscribe__social
            each red in site.data.social
                li
                    a(href=red.url, target="_blank")
                        i(class="fa fa-#{red.name}")
        form.suscribe__box
            label.suscribe__box__label Recibí todas las semanas contenidos exclusivos
            input.suscribe__box__input(type="email", placeholder="Tu email")
            button.suscribe__box__button Suscribir
