.suscribe {
    background: $lightestGray;
    padding-top: 15px;

    &__title {
        color: $red;
        font-size: 21px;
        margin: 0 0 10px;
        padding-left: 15px;
    }

    &__social {
        display: flex;
        padding-left: 15px;
        padding-bottom: 15px;

        li {
            margin-right: 15px;
        }

        a {
            color: $darkGray;
            font-size: 21px;
        }
    }

    &__box {
        background: url('/images/home/suscribe.jpg') no-repeat center bottom / cover;
        padding: 15px;
        margin-bottom: 20px;

        &__label {
            color: $white;
            font-family: $altFont;
            font-weight: 300;
            font-size: 18px;
            padding-right: 50px;
            margin-bottom: 20px;
        }

        &__input {
            width: 100%;
            display: block;
            height: 40px;
            background: $white;
            border: none;
            color: $darkGray;
            padding: 0 15px;
            margin-bottom: 15px;
        }

        &__button {
            height: 40px;
            background: $lightestGray;
            line-height: 40px;
            text-transform: uppercase;
            font-family: $menuFont;
            bordeR:none;
            outline: none;
            padding: 0 30px;
        }
    }
}
