include ../article/article
include ../ads/ads

mixin sidebar(title)
    .sidebar
        .sidebar__ads
            +ads('rectangle', '/images/ads/corolla.jpg')
        section.sidebar__articles
            .sidebar__articles__title
                span= title
                i
            .sidebar__article
                +article('compact', {}, '', true, false, true)
            ._divider
            .sidebar__article
                +article('compact', {}, '', true, false, true)
            ._divider
            .sidebar__article
                +article('compact', {}, '', true, false, true)
            ._divider
            .sidebar__article
                +article('compact', {}, '', true, false, true)
            ._divider
            .sidebar__article
                +article('compact', {}, '', true, false, true)
