.sidebar {

    &__ads {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }

    &__articles {
        &__title {
            @include sectionTitle($align:left);
        }
    }
}
