mixin slider(klass, mode)
    if mode == 'multi'
        ._slidermulti(class=klass)
            if block
                block
    
    if mode == 'cover'
        ._slidercover(class=klass)
            if block
                block

    if !mode
        ._slider(class=klass)
            if block
                block
